{
    "reddit": {
        "user_agent":"<platform>:<app ID>:<version string> (by /u/<reddit username>)",
        "client_id":"client id (looks kind of like: sdkfbwi48rhijwsdn)",
        "client_secret":"client secret (looks kind of like: ldkvblwiu34y8hsldjivn)",
        "username":"reddit username",
        "password":"reddit password"
    },
    "discord": {
        "webhook": "discord webhook url",
        "enabled": false
    },
    "browser": {
        "enabled": false
    },
    "keywords": {
        "terms": ["test", "selling", "will search each post to see if it contains any of the full strings"],
        "enabled": false
    },
    "debug": true,
    "subreddits": ["memes", "some random subreddit", "another subreddit", "no need for the /r/subreddit"]
}